@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}
/* Layout */
.Container{
    margin: 0 auto;
    background-color: aqua;
}
/* topo do site */
#topo{
    position: fixed;
    right: 10px;
    bottom: 10px;
}
#topo img{
    width: 30px;
}

/* Smartphone Portrait ********************************************************** */



/* Smartphone Landscape********************************************************** */
@media (min-width: 576px){
    .Container{
        max-width: 540px;
    }
    body{
        background-color: red;
    }
}



/* Tablet Portrait     ***********************************************************/
@media (min-width: 768px){
    .Container{
        max-width: 720px;
    }
    body{
        background-color: blue;
    }
}




/* Tablet Landscape *************************************************************** */
@media (min-width: 992px){
    .Container{
        max-width: 960px;
    }
}



/* PC ****************************************************************************** */
@media (min-width: 1200px){
    .Container{
        max-width: 1140px;
    }
}